@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Martian+Mono:wght@500&display=swap');
*{
    user-select: none;
    margin: 0;
    padding: 0;
}
#para{
     height:100vh;
     font-weight: bolder;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 75px;
     font-family: 'Croissant One',cursive;
     font-family: 'Martian Mono', monospace;
     color: white;
     background-color: rgb(247, 151, 151);
     text-shadow: 0 0 10px #000000;
     animation-name:text;
     animation-duration:12s;
}
@keyframes text{
    0%{
        background: rgb(205, 255, 238);
        font-size: 85px;
     }
    10%{
        background: rgb(113, 219, 233);
        font-size: 55px;
    }
    20%{
        background: rgb(137, 192, 243);
        font-size: 85px;
    }
    30%{
        background: rgb(124, 158, 231);
        font-size: 55px;
    }
    40%{
        background: rgb(163, 133, 233);
        font-size: 85px;
    }
    50%{
        background: rgb(229, 163, 238);
        font-size: 55px;
    }
    60%{
        background: rgb(158, 255, 174);
        font-size: 85px;
    }
    70%{
        background: rgb(105, 241, 101);
        font-size: 55px;
    }
    80%{
        background: rgb(206, 247, 141);
        font-size: 85px;
    }
    90%{
        background: rgb(245, 222, 118);
        font-size: 55px;
    }
    100%{
        background: rgb(247, 151, 151);
        font-size: 75px;
    }
}